$white: #fff;
$dark-blue: #2529B4;
$light-gray: #8b8b8b;
$error-message: #ff2e2e;
$small-title: #282828;
$small-description: #656565;
$background-button-red: linear-gradient(261.37deg, #FF2255 0%, #FF0036 74.24%);
$backgorund-birch: #4BAEDC;