* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .v-application p {
    margin: 0;
    padding: 0;
  }
  h2 {
    font-family: 'Montserrat-SemiBold', 'sans-serif';
    text-align: center;
    width: fit-content;
    font-size: 28px;
    color: #282828;
  }
  h3, h4 {
    font-family: 'Montserrat-SemiBold', 'sans-serif';
  }
  p {
    font-family: 'Montserrat-Medium', 'sans-serif';
  }
  a {
    cursor: pointer;
  }
  input {
    font-family: 'Montserrat-Medium', 'sans-serif';
  }
  code {
    color: #fb2661;
  }
  svg {
    &:hover {
      cursor: pointer;
    }
  }
  button {
    outline: none;
    
    &:focus {
      outline: none;
    }
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  .ripple {
    background-position: center;
  }
  .ripple:active {
    transition: background 0s;
    opacity: 0.8;
    background-size: 100%;
  }
  